.wrapper{
   
    margin: 0 auto;
    align-items: center;
    background-color: rgb(36, 35, 35);
    display: flex;
    justify-content: center;
    justify-content: space-around;
    width: 100%;
   height: auto;
}
.left{
    width: 900px;
    margin-left:15em;

}
.right{
display: flex;
flex-direction: column;
position: relative;
width: 300px;
margin-right:25em;
top: -12em;


  
}
.info {
  color: goldenrod;
  font-size: 1rem;
}
h2 {
  text-transform: lowercase;
}

.infoPanel {
  color: goldenrod;
  align-self: flex-start;
  width: 20em;
  text-decoration: solid;
  margin: auto;
  font-size: 0.7rem;
  padding: 0.5em 0.7em;
  border: 0.2em solid goldenrod;
  margin-left: 0;
  margin-bottom: 2em;
}
.total {
  margin-left: 1.2em;
  font-size: 1.6em;
}
