.wrapper {
  margin: 0 auto;
  background-color: rgb(36, 35, 35);
  width: 100%;
  min-height: 1200px;
  height: auto;
  display: flex;
  font-size: 15px;
}
.left {
  margin-top: 5em;
  width: 900px;
  margin-left: 15em;
}
.right {
  position: relative;
  width: 15em;
  top: 100px;
  margin-right: 19em;
}
.infoPanel{
  position: relative;
  width: 15em;
   top: 0.5em;
  min-height: 2.5em;
  color: goldenrod;
  font-family: Arial, Helvetica, sans-serif;
  align-items: center;
}
img{
  padding: 0px 0px 25px 0px;
}
