.wrapper {
  margin: 0 auto;
  background-color: rgb(36, 35, 35);
  width: 100%;
  min-height: 1200px;
  height: auto;
  display: flex;
  font-size: 15px;
}
.left {
  margin-top: 5em;
  width: 900px;
  margin-left: 15em;
}
.right {
  position: relative;
  width: 15em;
  top: 100px;
  margin-right: 19em;
}
.infoPanel{
  position: relative;
  width: 15em;
   top: 0.5em;
  min-height: 2.5em;
  color: goldenrod;
  font-family: Arial, Helvetica, sans-serif;
  align-items: center;
}
img{
  padding: 0px 0px 25px 0px;
}
.info {
  color: goldenrod;
  font-size: 1rem;
}
h2 {
  text-transform: lowercase;
}

.infoPanel {
  color: goldenrod;
  align-self: flex-start;
  width: 20em;
  text-decoration: solid;
  margin: auto;
  font-size: 0.7rem;
  padding: 0.5em 0.7em;
  border: 0.2em solid goldenrod;
  margin-left: 0;
  margin-bottom: 2em;
}
.total {
  margin-left: 1.2em;
  font-size: 1.6em;
}
